body {
    margin: 0 auto;
    display: inline;
    background-color: #0F3047;
    font-family: "Gilroy", sans-serif;
}

h2 {
    color: white;
    font-size: 58px;
}

.line1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 6px solid white;
}
.line1_left {
    width: 1440px;
    height: 596px;
    background-image: url(../images/bg1.png);
    border-right: 6px solid white;
}
.line1_left img {
    position: absolute;
}
.star1 {
    top: 88px;
    left: 298px;
    animation: rotate 4s infinite;
}
.star2 {
    top: 280px;
    left: 476px;
    animation: rotate 4s infinite;
}
.star3 {
    top: 99px;
    left: 1176px;
    animation: rotate 4s infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
.stargroup1 {
    top: 293px;
    left: 832px;
    animation: swing 3s ease-in-out infinite;
}
@keyframes swing {
    0%, 100% {
      transform: rotate(-15deg);
    }
    50% {
      transform: rotate(15deg);
    }
}
.line1_right {
    width: 480px;
    height: 596px;
    position: relative;
    overflow: hidden;
}
.line1_right img {
    animation: move 6s linear infinite;
}
@keyframes move {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-250px);
    }
}
.line2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 6px solid white;
}
.line2_left {
    width: 960px;
    height: 596px;
    border-right: 6px solid white;
    position: relative;
    overflow: hidden;
}
.egg1 {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    max-width: 100%;
    height: auto;
    animation: spaceshiptakeoff 3s linear infinite;
}
@keyframes spaceshiptakeoff {
    from {
        top: 596px;
    }
    to {
        top: -1143px;
    }
}
.star4,
.star5 {
    position: absolute;
    animation: movestar 3s linear infinite;
}
.star4 {
    left: 105px;
}
.star5 {
    left: 762px;
    animation-delay: 1s;
}
@keyframes movestar {
    0% {
        top: -100px;
    }
    100% {
        top: 100%;
    }
}
.line2_right {
    width: 960px;
    height: 596px;
    position: relative;
    overflow: hidden;
}
.line2_top {
    width: 960px;
    height: 447px;
    border-bottom: 6px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.venera, .mars, .jupiter {
    width: 320px;
    height: 447px;
    border-right: 6px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.line2_bottom {
    width: 960px;
    height: 149px;
    background-image: url(../images/bg2.png);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.insidevenera {
    margin-top: 135px;
}
.insidemars {
    margin-top: 100px;
}
.insidejupiter {
    margin-top: 59px;
}
.line2_bottom img {
    animation: move4 3s linear infinite;
}
@keyframes move4 {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-400px);
    }
}

.line3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 298px;
    background-color: white;
}
.line4 {
    height: 1192px;
    position: relative;
    overflow: hidden;
    border-bottom: 6px solid white;
}
.vector {
    animation: move2 10s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
@keyframes move2 {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-500px);
    }
}
.planets-container {
    position: absolute;
    transform-origin: center center;
    z-index: 2;
}
.venera2,
.mars2,
.jupiter2 {
  position: absolute;
}
.venera2 {
    top: 230px;
    left: 240px;
    animation: rotate 4s infinite;
}
.mars2 {
    top: 596px;
    left: 508px;
    animation: rotate 8s infinite;
}
.jupiter2 {
    top: -406px;
    left: 1340px;
    animation: rotate 10s infinite;
}
.stars-container {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center center;
    z-index: 3;
}
.star6,
.star7,
.star8 {
  position: relative;
  animation: rotate 4s infinite;
}
.star6 {
    top: 774px;
    left: 206px;
}
.star7 {
    top: 158px;
    left: 595px;
 }
 .star8 {
    top: 995px;
    left: 1418px;
}
.line5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 6px solid white;
}
.line5_left {
    width: 960px;
    height: 596px;
    background-image: url(../images/bg3.png);
    border-right: 6px solid white;
    position: relative;
    overflow: hidden;
}
.line5_left img {
    animation: move3 8s linear infinite;
}
@keyframes move3 {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-1400px);
    }
}
.slideshow-container {
    position: relative;
    width: 960px;
    height: 596px;
    opacity: 1;
    animation: slideshow 3s infinite;
}
@keyframes slideshow {
    0%, 25% {
        background-image: url(../images/bg4.png);
    }
    25.01%, 50% {
        background-image: url(../images/bg5.png);
    }
    50.01%, 75% {
        background-image: url(../images/bg6.png);
    }
    75.01%, 100% {
        background-image: url(../images/bg7.png);
    }
}
.line6 {
    position: relative;
    overflow: hidden;
    height: 596px;
    border-bottom: 6px solid white;
}

.planets-container2 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.rocket {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: flyacross 5s linear infinite;
}

@keyframes flyacross {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}
.rocket,
.venera3,
.mars3,
.jupiter3 {
  position: absolute;
}
.venera3 {
    top: -50px;
    left: 1518px;
    animation: rotate 4s infinite;
}
.mars3 {
    top: 454px;
    left: 1382px;
    animation: rotate 8s infinite;
}
.jupiter3 {
    top: 482px;
    left: -100px;
    animation: rotate 10s infinite;
}
.rocket {
    position: absolute;
}
.line7 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #061D2D;
    height: 298px;
}

.line7_left {
    flex: 0 0 auto;
    padding-left: 54px;
}

.line7_left img {
    display: block;
}

.line7_right {
    flex: 1;
}

h1 {
    position: absolute;
    top: 87px;
    right: 54px;
    color: #fff;
    font-size: 50px;
    margin: 0;
}

h3 {
    position: absolute;
    bottom: 88px;
    right: 54px;
    color: #80868A;
    font-size: 44px;
    margin: 0;
}
